<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Chat App</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
            rel="stylesheet">
        <style>
        .card {
            padding: 20px;
        }
        .list-group-item {
            padding: 10px;
        }
        .container {
            padding-top: 5rem;
        }
    </style>
    </head>
    <body>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header fs-3 text">Chat Box</div>
                        <input type="hidden" id="startChat"
                            data-roomId="<%= roomId %>">
                        <div class="card-body">
                            <ul id="msgList" class="list-group">
                                <div id="chat-messages">
                                    <% chats.forEach(chat => { %>
                                    <div>
                                        <strong><%= chat.user %></strong>: <%=
                                        chat.content %>
                                    </div>
                                    <% }); %>
                                </div>
                            </ul>
                            <div class="input-group mt-3">
                                <input type="text" id="username"
                                    placeholder="Username..."
                                    class="form-control">
                                <input type="text" id="newMsg"
                                    class="form-control"
                                    placeholder="Type a message...">
                                <button id="send-btn"
                                    class="btn btn-outline-success">Send</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script>
        let socket = io();
        let startChat = document.getElementById("startChat");
        let username = document.getElementById("username");
        let sendBtn = document.getElementById("send-btn");
        let inputMsg = document.getElementById("newMsg");
        let msgList = document.getElementById("msgList");
        
        socket.emit("join_room", {
            roomId: startChat.getAttribute("data-roomId"),
            username: username.value,
        })
        sendBtn.onclick = () => {
            socket.emit("msg_send", {
                msg: inputMsg.value,
                roomId: startChat.getAttribute("data-roomId"),
                username: username.value,
            });
            inputMsg.value = "";
        }

        socket.on('msg_received', ({username, msg}) => {
            let liMsg = document.createElement("li");
            liMsg.innerText = `${username} : ${msg}`;
            msgList.appendChild(liMsg);
        });
        inputMsg.addEventListener("keypress", (event)=>{
            socket.emit("typing", {
                roomId: startChat.getAttribute("data-roomId"),
            })
        });
    </script>
    </body>
</html>